a 
  cursor pointer
  
.btn-custom
  border-radius 3px
  color white
  font-size 12px
  line-height 1.5
  padding 5px 10px
  &.btn-delete
    background #CC0000
    border 1px solid #CC0000
  &.btn-confirm
    background #50CA5D
    border 1px solid #50CA5D
  
.select-room
  height 400px
  margin-bottom 15px
  
.room-description
  height 8px
  margin-top 1px
   
.count-rental
  display inline-block
  margin-left 20px
   
.btn-change
  margin-right 20px

.company-info
  display block
  margin-left 20px

.step-panel
  height 121px
  
.col-fit 
  width 1%
  white-space nowrap

.search-content
  margin-top 25px
  
 .search-list
   position relative
   top -8px
   background white
   list-style-type: none;
   padding-left 0
   margin-left 10px
   width 75%
   .element
     width 100%
     height 25px
     margin-top 5px
     margin-left 23px
     padding-left 0
     &:hover
      background #F9F9F9
   
   
   

@media print
  .btn-print
    display none
    