.btn-custom
  border-radius 3px
  color white
  font-size 12px
  line-height 1.5
  padding 5px 10px
  &.btn-delete
    background #CC0000
    border 1px solid #CC0000
  &.btn-confirm
    background #50CA5D
    border 1px solid #50CA5D
  
.select-room
   height auto
   
.count-rental
   display inline-block
   margin-left 20px

.company-info
  display block
  margin-left 20px

@media print
  .btn-print
    display none
    