<div class="row" ng-if="loading">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">
          Usuarios
        </h3>
      </div>
      <div class="box-body">
       <div class="table-responsive">
        <table class="table table-condensed table-hover" datatable="ng" dt-options="dtOptions">
        <thead>
         <tr>
           <th>Correo</th>
           <th>Nombre</th>
           <th>Estado</th>
           <th>Rol</th>
           <th>Editar</th>
         </tr>
        </thead>
        <tbody>
         <tr ng-repeat="user in users">
           <td ng-bind="user.email" ng-hide="user.role == 3"></td>
           <td ng-bind="user.name" ng-hide="user.role == 3"></td>
           <td ng-hide="user.role == 3">
            <span ng-if="user.active">A</span>
            <span ng-if="!user.active">I</span>
           </td>
           <td ng-bind="user.display_role" ng-hide="user.role == 3"></td>
           <td ng-hide="user.role == 3">
            <button class="btn btn-primary btn-sm" ng-click="edit(user.id)">
             <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
           </td> 
         </tr>
        </tbody>
       </table>
       </div>
      </div>
    </div>
  </div>
</div>