<div ng-if="notFound">
   Reservación no encontrada
</div>
<div ng-if="loading && !rental.reservation">
    La reservación ya fue confirmada
</div>
<div ng-if="loading && rental.type == 'days' && rental.reservation">
   La reservación  debe ser por horas
</div>

<div ng-if="loading && rental.reservation &&  rental.type=='hours'">
    <div>
      <form ng-submit="updateReservationHour($event)">
        <reservation-hour></reservation-hour>
       <btn-rental></btn-rental>
     </form>
  </div>
  <div>
     <div ng-show="rooms.length > 0">
       <count-rental></count-rental>
       <div ng-if="select">
          <div ng-if="rooms.length < currentRooms.length">
            Aviso, no hay suficientes habitaciones disponibles para cambio
          </div>
          <div ng-if="rooms.length >= currentRooms.length">
             Algunas de las habitaciones no estan disponibles para la fecha de renovación,
             seleccione nuevas para remplazar
          </div>
       </div>
       <div class="col-lg-3" ng-repeat="room in rooms" ng-if="rooms.length >= currentRooms.length">
           <panel-room></panel-room>
       </div>
     </div>
     <div ng-if="rooms.length == 0 && loadingRoom">
         No hay habitaciones disponibles para renovar por estas horas
     </div>
  </div>
</div>