<div ng-if="loading && !notFound">
  <step-one></step-one>
  <div class="row">

   <menu-client></menu-client>
   <div class="col-md-9">
     <div class="box box-primary">
       <div class="box-header with-border">
         <h3 class="box-title">Registrar Hospedaje</h3>         
         <strong ng-bind="client.first_name + ' ' + client.last_name" class="pull-right">
         </strong>
       </div>
       <form role="form"  lpformnum="1" ng-submit="availableDateRooms($event)">
          <div class="box-body">
            <div class="form-group">
              <label>Fecha de Salida</label>
              <input class="form-control" type="date" ng-model="data.departure_date" required>
            </div>
          </div>
          <div class="box-footer">
             <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
       </form>
     </div>
   </div>
  </div>
</div>
<div class="callout callout-danger lead" ng-if="loading && notFound">
  <b>Aviso!</b>
  <p>
    Cliente no encontrado
  </p>
</div>