<div ng-if="loading && !notFound">
  <step-one></step-one>
  <div class="row">
    <menu-client></menu-client>
     <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
         <h3 class="box-title">Registrar Reservación</h3>         
         <strong ng-bind="client.first_name + ' ' + client.last_name" class="pull-right">
         </strong>
        </div>
        <form ng-submit="availableDateReservationRoom($event)">
         <div class="box-body">
          <div class="form-group">
           <label>Fecha de Llegada</label>
           <input class="form-control" type="date" ng-model="data.arrival_date" required>
          </div>
          <div class="form-group">
           <label>Fecha de Salida</label>
           <input class="form-control" type="date" ng-model="data.departure_date" required>
          </div>
          <div class="form-group">
           <label>Hora de Llegada</label>
           <input class="form-control" type="time" ng-model="data.time" required>
          </div>
          <div class="form-group">
           <label>Estado de Pago</label>
           <select  class="form-control" ng-model="data.state" required>
            <option value="">Seleccione estado de pago</option>
            <option value="conciliado">conciliado</option>
            <option value="pendiente">pendiente</option>
           </select>
          </div>
         </div>
         <div class="box-footer">
          <button type="submit" class="btn btn-primary">Enviar</button>
         </div>
        </form>
      </div>
    
     </div>
  </div>
</div>

<div class="callout callout-danger lead" ng-if="loading && notFound">
  <b>Aviso!</b>
  <p>
    Cliente no encontrado
  </p>
</div>