<div class="row" ng-if="loading && !notFound">
  <header-client></header-client>
  <menu-client></menu-client>
  <div class="col-md-9">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Datos</h3>
      </div>
      <div class="box-body">
        <table class="table no-padding">
           <tr>
             <td><strong>Cedula</strong></td>
             <td><span ng-bind="client.identity_card"></span></td>
           </tr>
           <tr>
             <td><strong>Nombre</strong></td>
             <td><span ng-bind="client.first_name"></span></td>
           </tr>
           <tr>
             <td><strong>Apellido</strong></td>
             <td><span ng-bind="client.last_name"></span></td>
           </tr>
           <tr>
             <td><strong>Nacionalidad</strong></td>
             <td><span ng-bind="client.nationality"></span></td>
           </tr>

        </table>
        <div class="row">
          <div class="col-md-1 col-md-offset-4">
           <button class="btn btn-primary" ng-click="edit()">
             <i class="fa fa-edit"></i> Editar
           </button>
         </div>
         <div class="col-md-1 col-md-offset-1">
          <button class="btn btn-danger btn-delete" ng-click="confirmDelete()">
             <i class="fa fa-trash-o"></i> Eliminar
          </button>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="callout callout-danger lead" ng-if="loading && notFound">
    <b>Aviso!</b>
    <p>Cliente no encontrado</p>
</div>