<h3 class="text-center">Datos de Cliente</h3>
<hr>
<br>
<div ng-if="loading && !notFound">
   <menu-client></menu-client>

   <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <table class="table">
           <tr>
             <td><strong>Cedula</strong></td>
             <td><span ng-bind="client.identity_card"></span></td>
           </tr>
           <tr>
             <td><strong>Nombre</strong></td>
             <td><span ng-bind="client.first_name"></span></td>
           </tr>
           <tr>
             <td><strong>Apellido</strong></td>
             <td><span ng-bind="client.last_name"></span></td>
           </tr>
           <tr>
             <td><strong>Nacionalidad</strong></td>
             <td><span ng-bind="client.nationality"></span></td>
           </tr>

        </table>
      </div>
   </div>
   <div class="row">
     <div class="col-md-1 col-md-offset-4">
        <button class="btn btn-primary" ng-click="edit()"><i class="fa fa-edit"></i> Editar</button>
     </div>
     <div class="col-md-1 col-md-offset-1">
        <button class="btn btn-danger btn-delete" ng-click="confirmDelete()"><i class="fa fa-trash-o"></i> Eliminar</button>
     </div>
   </div>
</div>
<div ng-if="loading && notFound">
      Cliente no encontrado
</div>