<header class="main-header">
  <a ui-sref="menu.rental.list" class="logo">
    <!-- LOGO -->
    Hotel Castor
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li uib-dropdown>
          <a  href id="simple-dropdown" uib-dropdown-toggle>
          <i class="fa fa-user" aria-hidden="true"></i>
           &nbsp;
          <span ng-bind="currentUser.email"></span>
           <span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li><a ng-click="logout($event)"><i class="fa fa-power-off"></i> Cerrar Session</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

<aside class="main-sidebar">
  <!-- Inner sidebar -->
  <section class="sidebar" style="height: auto;">
    <!-- Search Form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Buscar Cliente">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form><!-- /.sidebar-form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Contenido</li>
      <li class="treeview">
        <a> 
          <i class="fa fa-users" aria-hidden="true"></i>
          <span>Clientes</span>
          <span class="pull-right-container">
             <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="#">
               <i class="fa fa-plus"></i>
              <span>Registrar</span>
            </a>
          </li>
          <li>
            <a ui-sref="menu.client.list"><i class="fa fa-list"></i> 
            <span>Listar</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </section><!-- /.sidebar -->
</aside><!-- /.main-sidebar -->

<section ui-view class="content-wrapper" style="min-height: 916px;"></section>


