<h3 class="text-center">Habitaciones en Deshabilitadas</h3>

<hr />
<table class="table" datatable="ng" dt-options="dtOptions">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Acciones</th>
         </tr>
      </thead>
      <tbody>
        <tr ng-repeat="room in rooms">
          <td ng-bind="room.code_number"></td>
          <td>
            <button class="btn btn-default" ng-click="show(room.id)">
              Ver
            </button>
            <button class="btn btn-success" ng-click="available(room.id)">
              Habilitar
            </button>
          </td>
        </tr>
      </tbody>
</table>