<div class="panel panel-info">
  <div class="panel-heading">
    <h1>
      <span ng-bind="room.code_number"></span>
      <span class="label label-primary pull-right" ng-bind="room.title"></span>
    </h1>
  </div>
  <div class="panel-body">
    <img class="img-responsive img-rounded center-block" ng-src="{{room.img_url}}">
  </div>
  <div class="panel-footer">
    Coste adicional  <strong ng-bind="room.increment"></strong>
     <p ng-bind="room.description"></p>
     <div class="text-center">
        <button class="btn btn-primary  btn-block" ng-if="!room.select" ng-click="addRoom(room.roomId)">Alquilar</button>
        <button class="btn btn-success btn-block" ng-if="room.select" ng-click="detachRoom(room.roomId)">Seleccionada</button>
        
      </div>
  </div>  
</div>
    