<div class="panel panel-warning">
  <div class="panel-heading">
    <h1>
      <span ng-bind="room.code_number"></span>
      <span class="label label-primary pull-right" ng-bind="room.title"></span>
    </h1>
  </div>
  <div class="panel-body">
    <img class="img-responsive img-rounded center-block" ng-src="{{room.img_url}}">
  </div>
  <div class="panel-footer">
     <div class="text-center">
        <button class="btn btn-primary  btn-block" ng-if="!room.select" ng-click="addStaticRoom(room.roomId)" ng-disabled="all">Confirmar hasta la fecha</button>
        <button class="btn btn-success btn-block" ng-if="room.select" ng-click="detachStaticRoom(room.roomId)">Seleccionada</button>
        
      </div>
  </div>  
</div>
    