<div class="row ">
  <div class="col-md-12">
     <div class="box box-primary step-panel">
       <div class="box-header with-boder">
        <h3 class="box-title">Pasos</h3>
       </div>
       <div class="box-body">
         <div class="stepwizard">
          <div class="stepwizard-row">
            <div class="stepwizard-step">
              <button type="button" class="btn btn-primary btn-circle">1</button>
               <p>Registrar Información</p>
            </div>
            <div class="stepwizard-step">
              <button type="button" class="btn btn-default btn-circle">2</button>
              <p>Seleccionar Habitaciones</p>
            </div>
            <div class="stepwizard-step" ng-if="rental.reservation || rental.id == undefined">
              <button type="button" class="btn btn-default btn-circle">3</button>
              <p>Datos Adicionales</p>
            </div>
         </div>
        </div>
       </div>
     </div>
  </div>
</div>