<div ng-if="notFound">
   Hospedaje no encontrada
</div>
<div ng-if="rental.checkout">
   El hospedaje ya tiene salida
</div>
<div ng-if="rental.type == 'hours' && !rental.checkout">
      El hospedaje debe ser por dias
</div>
<div ng-if="loading && rental.type == 'days' && !rental.checkout"> 
  <form ng-submit="addRoomForDate($event)">
     <div ng-if="rooms.length == 0 && loadingRoom">
          No hay habitaciones para registrar
      </div>
      <div class="col-lg-3" ng-repeat="room in rooms" ng-show="rooms.length > 0">
           <select-room></select-room>
      </div>
      <btn-add></btn-add>
  </form> 

</div>