<div ng-if="notFound">
   Cliente no encontrado
</div>
<div ng-if="!notFound && loading">
  Nota: de no seleccionarse la hora de salida se le sumara el tiempo minimo a la hora actual, si la hora de salida es menor a la actual se tomara esta como del dia siguiente
</div>
<form ng-if="!notFound && loading" ng-submit="sendHourData($event)">
    <input type="text" ng-model="rental.identity_card" ng-if="client.identity_card == null" placeholder="Cedula" >
   <label>Hora de salida (opcional)</label>
   <input type="time" ng-model="rental.time_close">
   <button class="btn btn-success" ng-click="availableHourRooms($event)">Disponibilidad de habitaciones</button>
   <btn-create></btn-create>
</form>

<div ng-if="loadingRoom && !notFound">
  <div ng-show="rooms.length > 0">
      <div class="col-lg-3" ng-repeat="room in rooms" >
        <panel-room></panel-room>
      </div>
   </div>
   <div ng-if="rooms.length == 0 && loadingRoom">
    <div>
        No hay habitaciones disponibles en este momento
     </div>
   </div>
</div>