<div ng-if="notFound">
   Cliente no encontrado
</div>

<form ng-if="!notFound && loading" ng-submit="sendDateData($event)">
   <identity-card></identity-card>
   <reservation-date></reservation-date>
   <btn-create></btn-create>
</form>

<div ng-if="loadingRoom && !notFound">
  <div ng-show="rooms.length > 0">
      <div class="col-lg-3" ng-repeat="room in rooms" >
        <panel-room></panel-room>
      </div>
   </div>
   <div ng-if="rooms.length == 0">
    <div>
        No hay habitaciones disponibles en este momento
     </div>
   </div>
</div>