<div ng-if="loading && !notFound">
 <step-one></step-one>
  <div class="row">
   <div class="col-md-12">
     <div class="box box-primary">
       <div class="box-header with-border">
         <h3 class="box-title">Editar Hospedaje </h3>
       </div>
       <form role="form"  lpformnum="1" ng-submit="availableDateReservationRoom($event)">
          <div class="box-body">
            <div class="form-group">
              <label>Fecha de Llegada</label>
              <input class="form-control" type="date" ng-model="rental.arrival_date" required>
            </div>
            <div class="form-group">
              <label>Fecha de Salida</label>
              <input class="form-control" type="date" ng-model="rental.departure_date" required>
            </div>
             <div class="form-group">
              <label>Hora de Llegada</label>
              <input class="form-control" type="time" ng-model="rental.time" required>
            </div>
            <div class="form-group">
              <label>Estado de Pago</label>
              <select  class="form-control" ng-model="rental.state" required>
                 <option value="">Seleccione estado de pago</option>
                 <option value="conciliado">conciliado</option>
                 <option value="pendiente">pendiente</option>
              </select>
            </div>
          </div>
          <div class="box-footer">
             <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
       </form>
     </div>
   </div>
  </div>
</div>
<div class="callout callout-danger lead" ng-if="loading && notFound">
    <b>Aviso!</b>
    <p>Reservación  no encontrada</p>
</div>
