<!--<div ng-if="notFound">
   Reservación no encontrada
</div>
<div ng-if="loading && !rental.reservation">
    La reservación ya fue confirmada
</div>
<div ng-if="loading && rental.type == 'days' && rental.reservation">
   La reservación  debe ser por horas
</div>

<div ng-if="loading && rental.reservation &&  rental.type=='hours'">
   <div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">1</button>
            <p>Cart</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">2</button>
            <p>Shipping</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">2</button>
            <p>Shipping</p>
        </div>
    </div>
  </div>

  <form ng-submit="availableHourReservationRoom($event)">
     <input type="date" ng-model="rental.start_date" required>
     <input type="time" ng-model="rental.time" required>
     <label>Hora de salida (opcional)</label>
     <input type="time" ng-model="rental.time_close">
     <select ng-model="rental.state" required>
        <option value="">Seleccione estado de pago</option>
        <option value="conciliado">conciliado</option>
        <option value="pendiente">pendiente</option>
     </select>
     <button class="btn btn-primary" type="submit">
      Enviar
     </button>
   </form>
</div>-->
  
<div ng-if="loading && !notFound">
  <step-one></step-one>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Hospedaje</h3>
        </div>
        <form role="form" lpformnum="1" ng-submit="availableHourReservationRoom($event)">
          <div class="box-body">
            <div class="form-group">
              <label>Fecha de llegada</label>
              <input class="form-control" type="date" ng-model="rental.start_date" required>
            </div>
            <div class="form-group">
              <label>Hora de llegada</label>
              <input class="form-control" type="time" ng-model="rental.time" required>
            </div>
            <div class="form-group">
              <label>Hora de Salida (opcional)</label>
              <input class="form-control" type="time" ng-model="rental.time_close">
            </div>
            <div class="form-group">
              <label>Estado de Pago</label>
              <select class="form-control" ng-model="rental.state" required>
               <option value="">Seleccione estado de pago</option>
               <option value="conciliado">conciliado</option>
               <option value="pendiente">pendiente</option>
              </select>
            </div>
          </div>
          <div class="box-footer">
            <button class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="callout callout-danger lead" ng-if="loading && notFound">
    <b>Aviso!</b>
    <p>Reservación  no encontrada</p>
</div>

