 <table class="table" datatable="ng" dt-options="dtOptions">
           <thead>
             <tr>
             <th>Llegada</th>
             <th>Salida</th>
             <th>Tipo</th>
             <th>Opciones</th>
           </tr>
           </thead>
           <tbody>
              <tr  ng-repeat="rental in rentals">
             <td>
               <span ng-bind="rental.arrival_date"></span>
               <span ng-bind="rental.arrival_time"></span>
             </td>
              <td>
               <span ng-if="rental.departure_date != null" ng-bind="rental.departure_date">
               </span>
               <span ng-if="rental.departure_date == null" ng-bind="rental.arrival_date">
               </span>
               <span ng-bind="rental.departure_time"></span>
             </td>
             <td>
               <span ng-bind="rental.type"></span>
             </td>
             <td>
               <button class="btn btn-primary">Ver</button>
               <button class="btn btn-primary">Renovar</button>
               <button class="btn btn-primary">Salida</button>
             </td>
            </tr>
           </tbody>
        </table>