<input type="date" ng-model="startDate">
<input type="date" ng-model="endDate">
<button class="btn btn-primary" ng-click="getReservations()">Enviar</button>

<table class="table" datatable="ng" dt-options="dtOptions">
           <thead>
             <tr>
             <th>Cedula</th>
             <th>Nombre</th>
             <th>Llegada</th>
             <th>Salida</th>
             <th>Tipo</th>
             <th>Estado de Pago</th>
             <th>Opciones</th>
           </tr>
           </thead>
           <tbody>
              <tr  ng-repeat="reservation in reservations">
              <td>
                <span ng-bind="reservation.client.identity_card"></span>
              </td>
              <td>
                <span ng-bind="reservation.client.first_name + reservation.client.last_name"></span>
              </td>
             <td>
               <span ng-bind="reservation.arrival_date"></span>
               <span ng-bind="reservation.arrival_time"></span>
             </td>
              <td>
               <span ng-if="reservation.departure_date != null" ng-bind="reservation.departure_date">
               </span>
               <span ng-if="reservation.departure_date == null" ng-bind="reservation.arrival_date">
               </span>
               <span ng-bind="reservation.departure_time"></span>
             </td>
             <td>
               <span ng-bind="reservation.type"></span>
             </td>
             <td>
               <span ng-bind="reservation.state"></span>
             </td>
             <td>
               <button class="btn btn-primary" ng-click="show(reservation.id)">Ver</button>
               <button class="btn btn-success" ng-click="edit(reservation.id)">
                 Editar
               </button>
               <button class="btn btn-danger" ng-click="confirmDeleteReservation(reservation.id)">     Eliminar
               </button>
             </td>
            </tr>
           </tbody>
      </table>
