<div class="row" ng-if="loading">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Hospedajes</h3>
      </div>
      <div class="box-body">
        <div>
          <div class="row">
            <div class="col-sm-12">
             <table class="table table-condensed" datatable="ng" dt-options="dtOptions">
               <thead>
                <tr>
                 <th>Llegada</th> 
                 <th>Cedula</th>     
                 <th>Cliente</th>
                 <th>Salida</th>
                 <th>Tipo</th>
                 <th>Acciones</th>
                </tr>
               </thead>
               <tbody>
                <tr  ng-repeat="rental in rentals">
                 <td>
                  <span ng-bind="rental.arrival_date|date:'MM/dd/yyyy'"></span>
                  <span ng-bind="rental.arrival_time|normalizeTime"></span>
                 </td>
                 <td>
                  <span ng-bind="rental.client.identity_card"></span>
                 </td>
                 <td>
                  <span ng-bind="rental.client.first_name + ' ' + rental.client.last_name">
                  </span>
                 </td>
                 <td>
                   <span ng-if="rental.departure_date != null" ng-bind="rental.departure_date|date:'MM/dd/yyyy'">
                   </span>
                   <span ng-if="rental.departure_date == null" ng-bind="rental.arrival_date|date:'MM/dd/yyyy'">
                   </span>
                   <span ng-bind="rental.departure_time|normalizeTime"></span>
                 </td>
                 <td>
                  <span ng-bind="rental.type|normalizeType"></span>
                 </td>
                 <td>
                   <button class="btn btn-default btn-sm" ng-click="show(rental.id)" uib-tooltip="Ver">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                   </button>
                   <button class="btn btn-default btn-sm" ng-click="renovate(rental.id)" uib-tooltip="Renovar">
                      <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
                   </button>
                   <button class="btn btn-default btn-sm" ng-click="confirmCheckout(rental.id)"
                    uib-tooltip="Salida">
                     <i class="fa fa-sign-out" aria-hidden="true"></i>
                   </button>
                 </td>
                </tr>
               </tbody>
             </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>