<!--<div ng-if="notFound">
   Hospedaje no encontrada
</div>
<div ng-if="rental.checkout">
     El hospedaje ya tiene salida
</div>

<div ng-if="loading &&  !rental.checkout && !rental.reservation && rental.type == 'days'">
   El hospedaje debe ser por horas
</div>
<div ng-if="rental.reservation">
  Debe confirmar  reservación
</div>

<div ng-if="loading && !rental.checkout && !rental.reservation && rental.type == 'hours'">  
   <div>
     <div class="stepwizard">
       <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">1</button>
            <p>Cart</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">2</button>
            <p>Shipping</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">2</button>
            <p>Shipping</p>
        </div>
      </div>
    </div>
      <form ng-submit="availableHourRooms($event)">
        <label>horas de renovación</label>
        <select ng-model="rental.renovate_hour" required>
            <option value="">Seleccione horas</option>
            <option value="01:00:00">1 hora</option>
            <option value="02:00:00">2 horas</option>
            <option value="03:00:00">3 horas</option>
            <option value="04:00:00">4 horas</option>
        </select>
        <button class="btn btn-primary">
           Enviar
        </button>
      </form>
   </div>
</div>-->

<div>
  <step-renovate-one></step-renovate-one>
  <div class="row"></div>
</div>