<div ng-if="notFound">
   Hospedaje no encontrada
</div>
<div ng-if="rental.checkout">
     El hospedaje ya tiene salida
</div>
<div ng-if="loading && !rental.checkout">  
  <form ng-submit="sendRenovateHour($event)">
      <label>horas de renovación</label>
      <select ng-model="rental.renovate_hour">
          <option value="">Seleccine horas</option>
          <option value="01:00:00">1 hora</option>
          <option value="02:00:00">2 horas</option>
          <option value="03:00:00">3 horas</option>
          <option value="04:00:00">4 horas</option>
      </select>
      <button class="btn btn-success" ng-click="availableHourRooms($event)">
        Disponibilidad de habitaciones
      </button>
      <div ng-if="select && rooms.length > 0 && rooms.length  >= currentRooms.length">
          Algunas de las habitaciones no estan disponibles  para renovación , por favor seleccione nuevas
      </div>
      <div ng-if="select && rooms.length < currentRooms.length">
          Algunas de las habitacioens no estan disponibles para renovación y no hay suficientas para cambio, solo seran renovadas las que seleccione
      </div>
      <div ng-if="rooms.length == 0 && loadingRoom">
          No hay habitaciones disponibles para renovar
      </div>
      <count-rental></count-rental>
      <div class="col-lg-3" ng-repeat="room in rooms" ng-show="rooms.length > 0 && rooms.length >= currentRooms.length" >
           <panel-room></panel-room>
      </div>
      <btn-rental></btn-rental>
  </form>
</div>