<div ng-if="notFound">
   Hospedaje no encontrado
</div>
<div ng-if="loading && !renovate && !rental.checkout && !rental.reservation">
   Solo puede renovar hasta la fecha de salida
</div>

<div ng-if="rental.checkout">
     El hospedaje ya tiene salida
</div>

<div ng-if="rental.reservation">
  Debe confirmar  reservación
</div>

<div ng-if="loading && !notFound && renovate">
   <div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">1</button>
            <p>Cart</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">2</button>
            <p>Shipping</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">2</button>
            <p>Shipping</p>
        </div>
    </div>
  </div>
  <div>
    <select-renovate ng-show="rental.type == 'hours'"></select-renovate>
     <form ng-submit="availableDateRooms($event)">

        <label>Fecha para renovar</label>
        <input type="date" ng-model="rental.departure_date" required>
        <button class="btn btn-primary" type="submit">
          Enviar
        </button>
     </form>
  </div>
</div>
