<step-two ng-if="rooms.length > 0"></step-two>
<div class="row" ng-if="rooms.length > 0">
   <div class="col-md-12">
     <div class="box box-primary">
       <div class="box-header with-border">
         <h3 class="box-title">Seleccione Habitaciones</h3>
         <div class="box-tools pull-right"><btn-rental></btn-rental> <count-rental></count-rental></div>
       </div>
       <br>
       <div class="box-body">
         <div ng-if="select">
           <div class="callout callout-danger lead" 
           ng-if="rooms.length < currentRooms.length">
             <b>Aviso!</b>
             <p>
              Algunas de las habitaciones no esta disponible y no hay suficientes para cambio
             </p>
           </div>
           <div ng-if="rooms.length >= currentRooms.length" 
            class="callout callout-warning lead" >
             <b>Aviso!</b>
             Algunas de las habitaciones no estan disponibles, seleccione nuevas para remplazar
           </div>
         </div>
         <div ng-repeat="room in rooms" class="col-sm-4 select-room" ng-if="rooms.length >= currentRooms.length">
            <select-room></select-room>
         </div>
       </div>
       <div class="box-footer text-center">
           <btn-rental></btn-rental>
       </div>
     </div>
   </div>
</div>
<div class="callout callout-danger lead" ng-if="rooms.length == 0">
    <b>Aviso!</b>
    <p> No hay habitaciones para el periodo solicitado</p>
</div>