<section class="invoice">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        <i class="fa fa-barcode" aria-hidden="true"></i> Factura
         <button class="btn btn-default pull-right btn-print" ng-click="print()">
          <i class="fa fa-print" aria-hidden="true"></i>
           &nbsp; 
           Imprimir
         </button>
         &nbsp; 
      </h2>
    </div>
  </div>
  <div class="row">
    <small class="company-info">
     <strong>Rif:</strong> v2122649 <br>
     <strong>Empresa:</strong> Hotel Castor
    </small>
     
    <h2 class="text-center">Datos</h2>
    <br>
    <div class="col-xs-12 table-responsive">
     <table class="table table-bordered">
       <tr>
         <td>
           <strong>Cedula</strong>
         </td>
         <td ng-bind="client.identity_card">
         </td>
       </tr>
       <tr>
        <td>
          <strong>Nombre</strong>
        </td>
        <td ng-bind="client.first_name">
        </td>
       </tr>
       <tr>
         <td>
           <strong>Apellido</strong>
         </td>
         <td ng-bind="client.last_name">
         </td>
       </tr>
       <tr ng-if="rental.checkout_date">
         <td>
           <strong>Salida anticipida</strong>
         </td>
         <td ng-bind="rental.checkout_date">
         </td>
       </tr>
       <tr>
         <td>
          <strong>Tipo de vehiculo</strong>
         </td>
         <td>
          <span ng-bind="rental.record.vehicle_type" ng-if="rental.record.vehicle_type"></span>
          <span ng-if="!rental.record.vehicle_type"> N/A</span>
         </td>
       </tr>
       <tr>
        <td>
          <strong>Descripcion de vehiculo</strong>
        </td>
        <td>
          <div ng-bind="rental.record.vehicle_description" ng-if="rental.record.vehicle_description"></div>
          <span ng-if="!rental.record.vehicle_description"> N/A</span>
        </td>
       </tr>
       <tr>
         <td>
          <strong>Sabana</strong>
         </td>
         <td>
          <span ng-if="rental.record.blanket">Si</span>
          <span ng-if="!rental.record.blanket"> N/A</span>
         </td>
       </tr>
    </table>
   </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center">Habitaciones</h2>
      <br>
      <table class="table table-striped table-bordered">
        <thead>
         <tr>
          <th>Codigo</th>
          <th>Fecha de registro</th>
          <th>Hora de registro</th>
          <th>Fecha de salida</th>
          <th>Hora de salida</th>
         </tr>
        </thead>
        <tbody>
          <tr  ng-repeat="room in rooms">
            <td>
              <span ng-bind="room.code_number"></span>
            </td>
            <td>
              <span ng-bind="room.pivot.check_in" ng-if="room.pivot.check_in"></span>
              <span ng-bind="rental.arrival_date" ng-if="!room.pivot.check_in"></span>
            </td>
            <td>
              <span ng-bind="room.pivot.check_timein" ng-if="room.pivot.check_timein"></span>
              <span ng-bind="rental.arrival_time" ng-if="!room.pivot.check_timein"></span>
            </td>
            <td>
              <span ng-bind="room.pivot.check_out" ng-if="room.pivot.check_out"></span>
              <span ng-bind="rental.departure_date" ng-if="!room.pivot.check_out"></span>
              <span ng-if="!rental.departure_date && !room.pivot.check_out">N/A</span>
            </td>
            <td>
              <span ng-bind="room.pivot.check_timeout" ng-if="room.pivot.check_timeout"></span>
              <span ng-bind="rental.departure_time" ng-if="!room.pivot.check_timeout"></span>
            </td>
          </tr>
        </tbody>
     </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 table-responsive">
        <h2 class="text-center">Monto</h2>
        <br>
        <table class="table table-bordered">
         <tbody>
           <tr>
            <th>Subtotal:</th>
            <td ng-bind="rental.amount"></td>
           </tr>
           <tr>
            <th>Iva (12.3%)</th>
            <td ng-bind="rental.amount_impost"></td>
           </tr>
           <tr>
             <th>Total:</th>
             <td ng-bind="rental.amount_total"></td>
           </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>