
<step-two ng-if="rooms.length > 0"></step-two>

<div  ng-if="rooms.length > 0">
  <div class="col-md-12">
     <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Habitaciones</h3>
            <div class="box-tools pull-right"> <btn-create></btn-create></div>
        </div>
        <br>
        <div class="box-body no-padding">
          <div ng-repeat="room in rooms" class="col-sm-4 select-room">
            <select-room></select-room>
           </div>
        </div>
        <div class="box-footer text-center">
            <btn-create></btn-create>
        </div>
     </div>     
 </div>
</div>

<div class="callout callout-danger lead" ng-if="rooms.length == 0">
    <b>Aviso!</b>
    <p> No hay habitaciones para el periodo solicitado</p>
</div>

