
<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">1</button>
            <p>Cart</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">2</button>
            <p>Shipping</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">2</button>
            <p>Shipping</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
            <p>Payment</p>
        </div> 
    </div>
</div>

<div ng-show="rooms.length > 0">
  <div class="col-lg-3" ng-repeat="room in rooms" >
     <select-room></select-room>
  </div>
  <btn-create></btn-create>
</div>

<div ng-if="rooms.length == 0">
   No hay habitaciones para el periodo solicitado
</div>